#canvasBox {
    width: 1536px;
    height: calc(100% - 8px);
    margin: 0 auto;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 8px grey;
}

#canvas {
  width: 512px;
  height: 512px;
  float: left;
  position: relative;
  top: calc(50% - 256px);
  left: calc(50% - 256px);
  cursor: crosshair;
}
